ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100px;
    align-items: center;
    background-color: tomato;
}

.target {
    background-color: silver;
}